/* diseno.css */
body {
    background: #12c2e9; /* Fallback para navegadores antiguos */
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh; /* Asegura que el fondo cubra toda la vista */
    margin: 0; /* Quita el margen del body */
    display: flex; /* Opcional: centra contenido */
    flex-direction: column; /* Opcional: organiza el contenido en columna */
    justify-content: center; /* Opcional: centra contenido horizontalmente */
    align-items: center; /* Opcional: centra contenido verticalmente */
    font-family: Arial, sans-serif; /* Cambia la fuente */
    color: white; /* Cambia el color del texto */
}
.container {
    border: red 2px solid;
    margin: 20px;
    background-color: rgba(240, 248, 255, 0.37);
}
